@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

nav {
  background-color: transparent;
}
ul li {
  font-size: 18px;
  padding: 0 0.8rem;
}

/* .nav-item a:hover{
    text-decoration:  overline white;
    border-bottom: solid 1px white;
    border-top:solid 1px white
    transition: all ease-in-out(0.5s);
} */

a.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    
    transition: width .3s;
} */

.menu {
  color: black;
}

.navbar.scrolled {
  background-color: #171717;
  opacity: 0.9;
  transition: background 600ms;
}

.nav-link {
  background: linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 0 0%,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0% 0%,
    linear-gradient(currentColor 0 0) 0% 0%;
  background-size: var(--d, 0) 2px, 2px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.4s;
}
.nav-link:hover {
  --d: 15px;
  color: #fff;
}

.rbtn {
  border: 3px solid white;
  text-decoration: None;
  color: white;
  padding: 10px;
  transition: ease-in 0.2s;
  font-family: "Poppins";
  margin: 4px;
  font-weight: 500;
}

.rbtn:hover {
  background-color: white;

  text-decoration: none;
  color: #171717;
  padding: 10px;
}
